.menu{
    align-items:right;
    text-align:right;
    background-color:#0b0420;
    padding: 4% 0% 1% 0%;
}
.menu a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li{
    display:inline;
    padding:2%;
}
.homepage{
    display:flex;
    background-image: url('./images/lake-1581879_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    height:500px;
}
.home{
    padding-left: 1%;
    margin-top: 5%;
    width:85%;

}
.home h1{
    font-size: 45px;
    color:rgb(211, 207, 207);

}
.para{
    color:silver;
    font-size:30px;
}
.home b{
    padding-top:20%;
    color:rgb(190, 184, 184);
    font-weight: 800;
}
.form fieldset{
    
    width:45%;
    height:280px;
    background-color:white;
    opacity: 0.6;
    color:#15093a;
    font-weight: 900;
}
.form{
    margin-top:10%;
    margin-left: 18%;

    
}
.form fieldset h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    
}
.form button{
    margin-top:10%;
    padding:2px;
}
.about-container{
    background-color:#0c022b;
}
.about-wrapper{
    
    display:flex;
    margin:auto;
    padding:0;
    width:50%;
}
.about-left{
    padding-left:2%;
    width:55%;
    background-color: #400766;
}
.about-left img{
    width:80%;
    padding-left:5%;
    padding-top: 3%;
}
.about-left h1{
    color:rgb(231, 227, 227);
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size:35px;
}
.about-left h4{
    color:rgb(219, 216, 216);
    border-bottom:1px solid white;
    border-top: 1px solid white;
}
.about-left i{
    color:rgb(214, 211, 211);
    border-bottom:1px solid white;
}
.about-left p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:#c5a1dd;
}
.about-right{
    padding-top:5em;
    background-color:#d8cbe0;
    padding-left: 2%;   
}
.about-right i{
    border-bottom:1px solid white;
    padding-top:5%;
}
.work-container{
    display:flex;
    padding-top: 4%;
}
.work-right h3{
    font-weight: 500;
    font-size:17px;
}
.work-left{
    width:50%;
    padding-top:5%;
}
.work-right h5{
    color:rgb(112, 109, 109);
}
.edu-container{
    display:flex;
}
.edu-left{
    padding-top: 2em;
    width:20%;
}
.skills-container{
    display:flex;
}
.skills-left h6{
    font-size: 15px;

    margin-top: 3%;
}
.skills-left ul li{
    list-style-type: none;
    
}
.skills-left ul{
    margin-top:-2%;
    margin-left: -4%;
}
.skills-right{
    margin-top: 2%;


}
.skills-right h6{
    font-size: 15px;
    margin-top: 3%;
}
.hobby{
    padding:4%;
    margin-bottom:3%;
}
.hobby i{
    padding:2%;
    color:#7b797c88;
}
.profile-container{
    background-color: #0c022b;
}
.first-profile{
    padding:0;
    margin:auto;
    
    width:40%;
}
.first-container{
    background-color:rgb(218, 51, 51);
    margin-top: 2%;
    display:flex;
    border-radius:40px;
}
.icon{
  width:30%;
  padding-top:6%;
  color:rgb(88, 81, 81);
}
.name-details h1{
    color:rgb(180, 175, 175);
}
.name-details h4{
    color:white;
}
.email-container{
    background-color:silver;
    display:flex;
    margin-top:3%;
    border-radius:40px;
}
.email-left{
    color:rgb(165, 70, 70);
    width:30%;
    padding-top: 2%;
    padding-left:1%;
}
.email-right h1{
    color:rgb(94, 87, 87);
}
.facebook-container{
    background-color:silver;
    display:flex;
    margin-top:3%;
    border-radius:40px;
}
.facebook-left{
    color:rgb(45, 45, 158);
    width:30%;
    padding-top: 3%;
    padding-left:1%;
    
}
.facebook-right h1{
    color:rgb(94, 87, 87);
}
.linkedin-container{
    background-color:silver;
    display:flex;
    margin-top:3%;
    border-radius:40px;
}
.linkedin-left{
    color:rgb(58, 108, 201);
    width:30%;
    padding-left:2%;
}
.linkedin-right h1{
    color:rgb(94, 87, 87);
}
.user-container{
    background-color: #492194;
    height:650px;
display:flex;
    
}
.user-left{
    padding-top: 10%;
    margin-left:10%;
}
.user-left h1{
    color:#e5d8ee;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    font-size:45px;
}
.user-left li{
    color:white;
    font-style: italic;
    font-size: 20px;
}
.user-right {
    width:30%;
    margin-top: 10%;
    margin-left:1%;
    padding-left:25%;

}
.user-right img{
    width:100%;
    border-radius:40%;
}